<div class="mat-app-background">
  <div class="form-container">
    <form [formGroup]="carForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label for="registrationNr">Placa</mat-label>
        <input
          matInput
          type="text"
          id="registrationNr"
          formControlName="registrationNr"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="brand">Marca</mat-label>
        <input matInput type="text" id="brand" formControlName="brand" />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="model">Modelo</mat-label>
        <input matInput type="text" id="model" formControlName="model" />
      </mat-form-field>

      <!-- <mat-checkbox formControlName="isAvailable">Available</mat-checkbox> -->

      <mat-form-field>
        <mat-label for="type">Tipo:</mat-label>
        <mat-select formControlName="type" id="type">
          <mat-option value="gamma baja">Gamma baja</mat-option>
          <mat-option value="gamma media">Gamma media</mat-option>
          <mat-option value="van">Van</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="kmTraveled">Kilometraje:</mat-label>
        <input
          matInput
          type="number"
          id="kmTraveled"
          formControlName="kmTraveled"
        />
      </mat-form-field>

      <button mat-raised-button type="submit" [disabled]="!carForm.valid">
        Submit
      </button>
    </form>
  </div>
</div>
