/* car-form.component.css */

.form-container {
    max-width: 400px;
    margin: 20px auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input, button {
    margin-bottom: 15px;
  }
  