<div class="mat-app-background">
  <div class="form-container">
    <form [formGroup]="carForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label for="numero_placa">Número de placa</mat-label>
        <input
          matInput
          type="text"
          id="numero_placa"
          formControlName="numero_placa"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="marca">Marca</mat-label>
        <input matInput type="text" id="marca" formControlName="marca" />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="modelo">Modelo</mat-label>
        <input matInput type="text" id="modelo" formControlName="modelo" />
      </mat-form-field>

      <!-- <mat-checkbox formControlName="isAvailable">Available</mat-checkbox> -->

      <mat-form-field>
        <mat-label for="tipo_vehiculo">Tipo:</mat-label>
        <mat-select formControlName="tipo_vehiculo" id="tipo_vehiculo">
          <mat-option value="baja">Gamma baja</mat-option>
          <mat-option value="media">Gamma media</mat-option>
          <mat-option value="van">Van</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="kilometraje">Kilometraje:</mat-label>
        <input
          matInput
          type="number"
          id="kilometraje"
          formControlName="kilometraje"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="precio_dia">Precio por día</mat-label>
        <input
          matInput
          type="number"
          id="precio_dia"
          formControlName="precio_dia"
        />
      </mat-form-field>

      <mat-form-field formGroupName="ciudad">
        <mat-label for="tipo_vehiculo">Ciudad</mat-label>
        <mat-select formControlName="nombre_ciudad" id="tipo_vehiculo">
          @for (item of cities; track $index) {
            <mat-option value={{item.nombre_ciudad}}>{{item.nombre_ciudad}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      {{ carForm.value | json }}

      <button mat-raised-button type="submit" [disabled]="!carForm.valid">
        Publicar
      </button>
    </form>
  </div>
</div>
