<div class="mat-app-background">
  <div class="form-container">
    <form [formGroup]="hotelForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label for="direccion">Direccion</mat-label>
        <input
          matInput
          type="text"
          id="direccion"
          formControlName="direccion"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="tipo_propiedad">Tipo:</mat-label>
        <mat-select formControlName="tipo_propiedad" id="tipo_propiedad">
          <mat-option value="apartamento">Apartamento</mat-option>
          <mat-option value="casa">Casa</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="numero_habitaciones">Numero de habitaciones</mat-label>
        <input
          matInput
          type="number"
          id="numero_habitaciones"
          formControlName="numero_habitaciones"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="numero_banos">Numero de baños:</mat-label>
        <input
          matInput
          type="number"
          id="numero_banos"
          formControlName="numero_banos"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="valor_noche">Valor por noche:</mat-label>
        <input
          matInput
          type="number"
          id="valor_noche"
          formControlName="valor_noche"
        />
      </mat-form-field>

      <mat-form-field formGroupName="ciudad">
        <mat-label for="tipo_vehiculo">Ciudad</mat-label>
        <mat-select formControlName="nombre_ciudad" id="tipo_vehiculo">
          @for (item of cities; track $index) {
          <mat-option value="{{ item.nombre_ciudad }}">{{
            item.nombre_ciudad
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

        {{ hotelForm.value | json }}

      <button mat-raised-button type="submit" [disabled]="!hotelForm.valid">
        Submit
      </button>
    </form>
  </div>
</div>
