<!DOCTYPE html>
<html lang="en">

<body>

  <header>
    <h1>Bienvenido a nuestro Servicio Integral</h1>
    <p>Encuentra el vehículo perfecto, tu nuevo hogar o reserva tu próximo vuelo con nosotros.</p>
  </header>

  <section class="service-section">
    <h2>Alquiler de Vehículos</h2>
    <p>Explora nuestra flota de vehículos y encuentra el coche perfecto para tus necesidades.</p>
    <!-- <a href="/alquiler-vehiculos">Ver Vehículos Disponibles</a> -->
  </section>

  <section class="service-section">
    <h2>Arrendamiento de Hogares</h2>
    <p>Descubre propiedades para arrendar y encuentra tu nuevo hogar.</p>
    <!-- <a href="/arrendamiento-hogares">Ver Propiedades Disponibles</a> -->
  </section>

  <section class="service-section">
    <h2>Venta de Boletos de Avión</h2>
    <p>Reserva tus boletos de avión para tu próximo viaje con nosotros.</p>
    <!-- <a href="/venta-boletos">Ver Boletos Disponibles</a> -->
  </section>


  
  <section class="service-section">
    <h2>Por qué Elegirnos</h2>

    <ul>
      <li><strong>Conveniencia:</strong> Todo en un solo lugar para simplificar tu experiencia de viaje.</li>
      <li><strong>Variedad y Calidad:</strong> Amplia selección para adaptarse a tus preferencias y requisitos.</li>
      <li><strong>Atención al Cliente:</strong> Equipo disponible para ayudarte en cada paso del viaje.</li>
      <li><strong>Precios Competitivos:</strong> Tarifas competitivas para obtener el mejor valor por tu dinero.</li>
    </ul>
  

  <p>En [Nombre de la Empresa], estamos comprometidos a hacer que tu experiencia de viaje sea inolvidable. ¡Explora el mundo con nosotros y descubre la conveniencia de viajar con un solo clic!</p>
  </section>
  

  <footer>
    <p>&copy; 2023 Servicio Integral. Todos los derechos reservados.</p>
  </footer>
  

</body>
</html>