<div class="menu-container">
  <mat-card class="menu-card">
    <img
      mat-card-image
      src="assets/car.jpg"
      alt="Option 1 Image"
      (click)="moduleRedirection('carModule')"
    />
    <mat-card-title>DriveEase</mat-card-title>
  </mat-card>

  <mat-card class="menu-card">
    <img
      mat-card-image
      src="assets/car.jpg"
      alt="Option 1 Image"
      (click)="moduleRedirection('houseModule')"
    />
    <mat-card-title>Option 2</mat-card-title>
  </mat-card>

  <mat-card class="menu-card">
    <img
      mat-card-image
      src="assets/car.jpg"
      alt="Option 1 Image"
      (click)="moduleRedirection('ticketModule')"
    />
    <mat-card-title>Option 3</mat-card-title>
  </mat-card>
</div>
