<div class="register-container" fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Registro</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
          <mat-form-field class="full-width">
            <input matInput placeholder="Usuario" name="username" [(ngModel)]="username" required>
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Contraseña" name="password" [(ngModel)]="password" required>
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Confirmar Contraseña" name="confirmPassword" [(ngModel)]="confirmPassword" required>
          </mat-form-field>

            
          <mat-form-field class="full-width">
            <input matInput type="number" placeholder="Número de tarjeta de crédito" name="creditCard" [(ngModel)]="creditCard" required>
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Register</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  